# Исследование надежности заемщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd  

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
#сводная таблица
data_pivot_children = data.pivot_table(index='children', columns='debt', values='total_income', aggfunc=('count'))
data_pivot_children

debt            0       1
children
0         13028.0  1063.0
1          4364.0   444.0
2          1858.0   194.0
3           303.0    27.0
4            37.0     4.0
5             9.0     NaN

In [23]:
#заменим отсутсвующее значение для людей с 5-ю детьми на 0, тк у них не было просрочек
data_pivot_children[1] = data_pivot_children[1].fillna(0)

In [24]:
#переименуем колонки, для понятного восприятия
data_pivot_children = data_pivot_children.rename(columns={0:'paid_on_time', 1:'paid_out_of_time'})

In [25]:
#посчитали процент людей, который платил без просрочек 
data_pivot_children['percent_without_delay'] = data_pivot_children['paid_on_time'] / \
(data_pivot_children['paid_on_time'] + data_pivot_children['paid_out_of_time']) * 100 
data_pivot_children

debt      paid_on_time  paid_out_of_time  percent_without_delay
children
0              13028.0            1063.0              92.456178
1               4364.0             444.0              90.765391
2               1858.0             194.0              90.545809
3                303.0              27.0              91.818182
4                 37.0               4.0              90.243902
5                  9.0               0.0             100.000000

In [26]:
#посчитали процент людей, который платил с просрочками 
data_pivot_children['percent_with_delay'] = data_pivot_children['paid_out_of_time'] / \
(data_pivot_children['paid_on_time'] + data_pivot_children['paid_out_of_time']) * 100 
data_pivot_children

debt,paid_on_time,paid_out_of_time,percent_without_delay,percent_with_delay
children,,,,
0,13028.0,1063.0,92.456178,7.543822
1,4364.0,444.0,90.765391,9.234609
2,1858.0,194.0,90.545809,9.454191
3,303.0,27.0,91.818182,8.181818
4,37.0,4.0,90.243902,9.756098
5,9.0,0.0,100.000000,0.000000

In [27]:
#приведем все столбцы к красивому виду
pd.options.display.float_format = '{:,.2f}'.format
data_pivot_children

debt,paid_on_time,paid_out_of_time,percent_without_delay,percent_with_delay
children,,,,
0,"13,028.00","1,063.00",92.46,7.54
1,"4,364.00",444.00,90.77,9.23
2,"1,858.00",194.00,90.55,9.45
3,303.00,27.00,91.82,8.18
4,37.00,4.00,90.24,9.76
5,9.00,0.00,100.00,0.00

In [28]:
#отсортируем таблицу по проценту выплат без просрочек
data_pivot_children.sort_values(by='percent_without_delay', ascending=False)

debt,paid_on_time,paid_out_of_time,percent_without_delay,percent_with_delay
children,,,,
5,9.00,0.00,100.00,0.00
0,"13,028.00","1,063.00",92.46,7.54
3,303.00,27.00,91.82,8.18
1,"4,364.00",444.00,90.77,9.23
2,"1,858.00",194.00,90.55,9.45
4,37.00,4.00,90.24,9.76

**Вывод:** Без учета людей, у которых 5 детей, тк они брали брали мало кредитов, можно сделать вывод, что люди без детей чаще возвращают кредиты всрок, чуть более менее ответсвенно к этому вопросу подходят люди с тремя детьми. Чаще платят с просрочками люди у которых 1/2/4 детей. В целом, наличие детей влияет на уровень возврат денег всрок, а количество - не особо.

In [29]:
#сводная таблица 
data.pivot_table(index = 'children', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
    .sort_values(by = ('mean', 'debt'), ascending = False)\
    .style.format({('mean', 'debt') : '{:.2%}'})

In [30]:
#чтобы выборка была относительно равнозначной выделим людей с более чем 3-мя деть в отдельную группу
def child_category(child):
    if child == 0:
        return 'нет детей'
    if child == 1:
        return '1 ребенок'
    if child == 2:
        return '2 ребенка'
    else:
        return '3 и больше детей'
data['child_category'] = data['children'].apply(child_category)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,child_category
0,1,"8,437.67",42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,1 ребенок
1,1,"4,024.80",36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,1 ребенок
2,0,"5,623.42",33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,нет детей
3,3,"4,124.75",32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,3 и больше детей
4,0,"340,266.07",53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,нет детей

In [31]:
#сводная таблица по категориям
data.pivot_table(index = 'child_category', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
    .sort_values(by = ('mean', 'debt'), ascending = False)\
    .style.format({('mean', 'debt') : '{:.2%}'})

**Вывод:** В таком виде зависимость платежей с просрочками прослеживается виднее, но статистика все равно не совсем объективна, тк доля многотеных семей все равно слишком маленькая. Я больше склоняюсь к тому, что при более крупных цифрах вывод будет следующим: чем больше детей, тем чаще люди не погашают задолженность всрок.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [32]:
#сводная таблица
data_pivot_family = data.pivot_table(index='family_status', columns='debt', values='family_status_id', aggfunc=('count'))
data_pivot_family

debt                       0    1
family_status
Не женат / не замужем   2523  273
в разводе               1105   84
вдовец / вдова           888   63
гражданский брак        3749  385
женат / замужем        11334  927

In [33]:
#переименуем колонки, для понятного восприятия
data_pivot_family = data_pivot_family.rename(columns={0:'paid_on_time', 1:'paid_out_of_time'})

In [34]:
#посчитали процент людей, который платил без просрочек 
data_pivot_family['percent_without_delay'] = data_pivot_family['paid_on_time'] / \
(data_pivot_family['paid_on_time'] + data_pivot_family['paid_out_of_time']) * 100 
data_pivot_family

debt                   paid_on_time  paid_out_of_time  percent_without_delay
family_status
Не женат / не замужем          2523               273                  90.24
в разводе                      1105                84                  92.94
вдовец / вдова                  888                63                  93.38
гражданский брак               3749               385                  90.69
женат / замужем               11334               927                  92.44

In [35]:
#посчитали процент людей, который платил с просрочками 
data_pivot_family['percent_with_delay'] = data_pivot_family['paid_out_of_time'] / \
(data_pivot_family['paid_on_time'] + data_pivot_family['paid_out_of_time']) * 100 
data_pivot_family

debt,paid_on_time,paid_out_of_time,percent_without_delay,percent_with_delay
family_status,,,,
Не женат / не замужем,2523,273,90.24,9.76
в разводе,1105,84,92.94,7.06
вдовец / вдова,888,63,93.38,6.62
гражданский брак,3749,385,90.69,9.31
женат / замужем,11334,927,92.44,7.56

In [36]:
#отсортируем таблицу по проценту выплат без просрочек
data_pivot_family.sort_values(by='percent_without_delay', ascending=False)

debt,paid_on_time,paid_out_of_time,percent_without_delay,percent_with_delay
family_status,,,,
вдовец / вдова,888,63,93.38,6.62
в разводе,1105,84,92.94,7.06
женат / замужем,11334,927,92.44,7.56
гражданский брак,3749,385,90.69,9.31
Не женат / не замужем,2523,273,90.24,9.76

**Вывод:** Люди, имеющие семеное положение "вдовец/вдова" чаще выплачивают кредиты вовремя, "в разводе" и женатые/замужние на данный момент выплачивают в срок чуть менее ответсветнно, а люди, живущие гражданским браком и незамужние/неженатые платят в срок намного реже.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [37]:
#сводная таблица
data_pivot_income = data.pivot_table(index='total_income_category', columns='debt', values='total_income', aggfunc=('count'))
data_pivot_income

debt                       0     1
total_income_category
A                         23     2
B                       4660   354
C                      14568  1353
D                        328    21
E                         20     2

In [38]:
#переименуем колонки, для понятного восприятия
data_pivot_income = data_pivot_income.rename(columns={0:'paid_on_time', 1:'paid_out_of_time'})

In [39]:
#посчитали процент людей, который платил без просрочек 
data_pivot_income['percent_without_delay'] = data_pivot_income['paid_on_time'] / \
(data_pivot_income['paid_on_time'] + data_pivot_income['paid_out_of_time']) * 100 
data_pivot_income

debt                   paid_on_time  paid_out_of_time  percent_without_delay
total_income_category
A                                23                 2                  92.00
B                              4660               354                  92.94
C                             14568              1353                  91.50
D                               328                21                  93.98
E                                20                 2                  90.91

In [40]:
#посчитали процент людей, который платил с просрочками 
data_pivot_income['percent_with_delay'] = data_pivot_income['paid_out_of_time'] / \
(data_pivot_income['paid_on_time'] + data_pivot_income['paid_out_of_time']) * 100 
data_pivot_income

debt,paid_on_time,paid_out_of_time,percent_without_delay,percent_with_delay
total_income_category,,,,
A,23,2,92.00,8.00
B,4660,354,92.94,7.06
C,14568,1353,91.50,8.50
D,328,21,93.98,6.02
E,20,2,90.91,9.09

In [41]:
#отсортируем таблицу по проценту выплат без просрочек
data_pivot_income.sort_values(by='percent_without_delay', ascending=False)

debt,paid_on_time,paid_out_of_time,percent_without_delay,percent_with_delay
total_income_category,,,,
D,328,21,93.98,6.02
B,4660,354,92.94,7.06
A,23,2,92.00,8.00
C,14568,1353,91.50,8.50
E,20,2,90.91,9.09

**Вывод:** Люди с доходом от 30 до 50 тысяч чаще погащают задолженность всрок, с самым большим - от 200 тыс до 1 миллиона и больше миллиона делают это чуть реже. А группы с доходами от 50 до 200 тысяч и от 0 до 30 тысяч чаще остальных отдают долг с просрочками. Если выделить 2 самые многичисленные группы, то вывод - люди со средним доходом чаще платят кредит  позже срока, нежели с доходами выше среднего

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [42]:
#сводная таблица
data_pivot_purpose = data.pivot_table(index='purpose_category', columns='debt', values='purpose', aggfunc=('count'))
data_pivot_purpose

debt                         0    1
purpose_category
операции с автомобилем    3879  400
операции с недвижимостью  9971  780
получение образования     3619  369
проведение свадьбы        2130  183

In [43]:
#переименуем колонки, для понятного восприятия
data_pivot_purpose = data_pivot_purpose.rename(columns={0:'paid_on_time', 1:'paid_out_of_time'})

In [44]:
#посчитали процент людей, который платил без просрочек 
data_pivot_purpose['percent_without_delay'] = data_pivot_purpose['paid_on_time'] / \
(data_pivot_purpose['paid_on_time'] + data_pivot_purpose['paid_out_of_time']) * 100 
data_pivot_purpose

debt,paid_on_time,paid_out_of_time,percent_without_delay
purpose_category,,,
операции с автомобилем,3879,400,90.65
операции с недвижимостью,9971,780,92.74
получение образования,3619,369,90.75
проведение свадьбы,2130,183,92.09

In [45]:
#посчитали процент людей, который платил с просрочками 
data_pivot_purpose['percent_with_delay'] = data_pivot_purpose['paid_out_of_time'] / \
(data_pivot_purpose['paid_on_time'] + data_pivot_purpose['paid_out_of_time']) * 100 
data_pivot_purpose

debt,paid_on_time,paid_out_of_time,percent_without_delay,percent_with_delay
purpose_category,,,,
операции с автомобилем,3879,400,90.65,9.35
операции с недвижимостью,9971,780,92.74,7.26
получение образования,3619,369,90.75,9.25
проведение свадьбы,2130,183,92.09,7.91

In [46]:
#отсортируем таблицу по проценту выплат без просрочек
data_pivot_purpose.sort_values(by='percent_without_delay', ascending=False)

debt,paid_on_time,paid_out_of_time,percent_without_delay,percent_with_delay
purpose_category,,,,
операции с недвижимостью,9971,780,92.74,7.26
проведение свадьбы,2130,183,92.09,7.91
получение образования,3619,369,90.75,9.25
операции с автомобилем,3879,400,90.65,9.35

**Вывод:** При операциях с недвижимостью и получении кредита на проведение свадьбы долг чаще возвращают в срок, в отличии от людей, получивших кредит на образование или операции с автомобилями.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски могут появлятся из-за того, что люди не указывают о себе какие-то данные, автоматические системы сбора информации дают сбой, могла возникнуть проблема при конвертации файла, а может это человеческий фактор или намеренное оставление пустых ячеек для последующего заполнения какими-то значениями.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медиана берет срез ровно по середине всех данных, в отличие от средней арифметической, которая учитывает все значения от минимального до максимального, а при подставлении 0 в некоторых случаях можно потерять большую часть данных, необходимых для анализа.

### Шаг 4: общий вывод.

Мы проверили 4 фактора(дети, семейное положение, уровень дохода, цель кредита), которые могут влиять на возврат кредита в срок, и установили, что:
   1. Наличие детей влияет на платежеспособность 
   2. Люди состоявшие в браке или состоящие в нем на данный момент более ответсвенно относятся к выплатам долговых обязательств
   3. Группы людей с доходом от 30 до 50 тысяч и с высоким доходом от 300 тысч чаще остальных выплачивают кредит в срок
   4. Кредиты на недвижимость и свадьбу чаще платят вовремя 

В качестве рекомендаций: можно провести еще более подробный анализ по возрастным группам, чтобы определить люди какого возвраста чаще всего не выплачивают кредит вовремя, гипотезой может выступать, что скорее всего это молодые люди с ребенком, берущие кредит на образование или авто.